VITE_EMAILJS_SERVICE_ID=service_zw01gbe
VITE_EMAILJS_TEMPLATE_ID=template_ebolbml
VITE_EMAILJS_PUBLIC_KEY=L5tahkPpa6Kdxg2FB
VITE_OWNER_EMAIL=perfectcoachings0@gmail.com
VITE_EMAILJS_PRIVATE_KEY=sXMholEBA_cvLRq_3th-o
